<h1>Add new post</h1>
<mat-grid-list cols="3" rowHeight="400px">

    <mat-grid-tile>

       
       
        <div class="form"> 
            <form [formGroup]="postForm" (ngSubmit)="onSubmit()">

                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <br>



                <mat-form-field appearance="legacy">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title">
                </mat-form-field>
                <br>
                <div
                    *ngIf="postFormControl.title.invalid && (postFormControl.title.dirty || postFormControl.title.touched)">
                    <mat-error *ngIf="postFormControl.title.errors?.required">
                        Title is required.
                    </mat-error>
                </div>

                <mat-form-field appearance="legacy">
                    <mat-label>Author</mat-label>
                    <input matInput formControlName="author">
                </mat-form-field>
                <br>
                <div
                    *ngIf="postFormControl.author.invalid && (postFormControl.author.dirty || postFormControl.author.touched)">
                    <mat-error *ngIf="postFormControl.author.errors?.required">
                        Author is required.
                    </mat-error>
                </div>

                <mat-form-field appearance="legacy">
                    <mat-label>Text</mat-label>
                    <input matInput formControlName="text">
                </mat-form-field>
                <br>
                <div *ngIf="postFormControl.text.invalid && (postFormControl.text.dirty || postFormControl.text.touched)">
                    <mat-error *ngIf="postFormControl.text.errors?.required">
                        Text is required.
                    </mat-error>
                </div>

                <mat-form-field appearance="legacy">
                    <mat-label>Image</mat-label>
                    <input matInput formControlName="image">
                </mat-form-field>
                <br>


                <mat-form-field>
                    <mat-chip-list #tagList>
                        <mat-chip *ngFor="let tag of tagWords" [selectable]="selectable" [removable]="removable"
                            (removed)="remove(tag)">
                            {{tag.name}}
                            <mat-icon svgIcon="clear" matChipRemove *ngIf="removable">x</mat-icon>
                        </mat-chip>
                        <input placeholder="Tags..." [matChipInputFor]="tagList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                </mat-form-field>

            </form>
    </div>

    </mat-grid-tile>

</mat-grid-list>