<mat-grid-list cols="2">

    <mat-grid-tile>
        <h1>Add new post</h1>



        <div class="form">
            <form [formGroup]="postForm" (ngSubmit)="onSubmit()">

                <mat-form-field>
                    <mat-label>Pick date</mat-label>
                    <input matInput [matDatepicker]="dp3" formControlName="date" disabled>
                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Title</mat-label>
                    <input required matInput formControlName="title">
                </mat-form-field>
                <br>
                <div
                    *ngIf="postFormControl.title.invalid && (postFormControl.title.dirty || postFormControl.title.touched)">
                    <mat-error *ngIf="postFormControl.title.errors?.required">
                        Title is required.
                    </mat-error>
                    <mat-error *ngIf="postFormControl.title.errors?.minlength">
                        Title is too short.
                    </mat-error>
                    <mat-error *ngIf="postFormControl.title.errors?.maxlength">
                        Title is too long.
                    </mat-error>
                </div>

                <mat-form-field appearance="legacy">
                    <mat-label>Author</mat-label>
                    <input required matInput formControlName="author">
                </mat-form-field>
                <br>
                <div
                    *ngIf="postFormControl.author.invalid && (postFormControl.author.dirty || postFormControl.author.touched)">
                    <mat-error *ngIf="postFormControl.author.errors?.required">
                        Name is required.
                    </mat-error>
                    <mat-error *ngIf="postFormControl.author.errors?.maxlength">
                        Author name is too long.
                    </mat-error>
                </div>

                <mat-form-field appearance="legacy">
                    <mat-label>Text</mat-label>
                    <textarea required matInput formControlName="text"></textarea>
                </mat-form-field>
                <br>
                <div
                    *ngIf="postFormControl.text.invalid && (postFormControl.text.dirty || postFormControl.text.touched)">
                    <mat-error *ngIf="postFormControl.text.errors?.required">
                        Text is required.
                    </mat-error>
                </div>

                <mat-form-field appearance="legacy">
                    <mat-label>Image</mat-label>
                    <input matInput formControlName="imageUrl">
                </mat-form-field>
                <div
                    *ngIf="postFormControl.imageUrl.invalid && (postFormControl.imageUrl.dirty || postFormControl.imageUrl.touched)">
                    <mat-error *ngIf="postFormControl.imageUrl.errors?.pattern">
                        Image URL should be valid (ex. http://example.com/image/path.jpeg).
                    </mat-error>
                </div>
                <br>



                <mat-form-field>
                    <mat-chip-list #tagList>
                        <mat-chip *ngFor="let tag of tagWords" [selectable]="selectable" [removable]="removable"
                            (removed)="remove(tag)">
                            {{tag.name}}
                            <mat-icon svgIcon="clear" matChipRemove *ngIf="removable">x</mat-icon>
                        </mat-chip>
                        <input placeholder="Tags..." [matChipInputFor]="tagList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)" formControlName="tags">
                    </mat-chip-list>
                </mat-form-field>
                <div
                    *ngIf="postFormControl.tags.invalid && (postFormControl.tags.dirty || postFormControl.tags.touched)">
                    <mat-error *ngIf="postFormControl.tags.errors?.required">
                        Tags are required.
                    </mat-error>
                </div>
                <br>

                <button mat-raised-button color="primary">Submit</button>
                <button mat-raised-button color="warn">Cancel</button>

            </form>
        </div>
       

    </mat-grid-tile>

</mat-grid-list>