<mat-card class="card">
  <mat-card-content>
    <div class="header">
      <span class="link" routerLink="/new-post">New Post</span>
      <span class="link" routerLink="/recent-posts">Most recent posts</span>
      <span class="link" routerLink="/all-posts">All posts</span>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-title class="title">All Posts</mat-card-title>

  <mat-card-content>
    <div class="posts" *ngFor="let post of allPosts">
      <span class="span" routerLink="/post/{{post.id}}">{{ post.title }}</span>
      <button mat-icon-button color="primary" routerLink="/edit/{{post.id}}" >
        <mat-icon class="icon" >edit</mat-icon>        
      </button>
      <button mat-icon-button color="primary" (click)="deletePost(post.id)">
        <mat-icon class="icon">delete</mat-icon>
      </button>
      <br>
    </div>
  </mat-card-content>
  <mat-card-footer class="newPost" routerLink="/new-post">
    <mat-icon>add</mat-icon> New post
  </mat-card-footer>
</mat-card>