<mat-card class="card">
    <mat-card-content>
      <div class="header">
        <span class="link" routerLink="/new-post">New Post</span>
        <span class="link" routerLink="/recent-posts">Most recent posts</span>
        <span class="link" routerLink="/all-posts">All posts</span>
      </div>
    </mat-card-content>
  </mat-card>
<mat-card class="card">
    <mat-card-title class="title">{{ post.title }}</mat-card-title>
    <mat-card-subtitle>{{ post.author }}</mat-card-subtitle>
    <div> <img src="{{ post.imageURL }}"></div>
    <mat-card-content>
        <div class="text">
          <markdown [data]="post.text"></markdown>
        </div>
        <div class="bottom">
            <span>Date:</span> <br>
            <span>{{ post.date | date:'shortDate' }}</span>
        </div>   
        <div>
          <mat-chip-list #tagList>
              <mat-chip *ngFor="let tag of post.tags">
                  {{tag}}
              </mat-chip>
          </mat-chip-list>
        </div>
    </mat-card-content>  
</mat-card>