.title {
    width: 400px;
    background-color: bisque;
    color: rgb(167, 105, 224);
    font-weight: normal;
    text-align: center;
    font-family: "Apple Chancery", cursive;
}
.card {
    background-color: #ddbdf1;
    width: 400px;
    text-align: center;
    margin: 2%;
}
.text {
    width: 400px;
    background-color: bisque;
    color: rgb(61, 9, 109);
    font-weight: normal;
    padding-top: 3%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 3%;
    
}
.icon {
    float: left;
}
.bottom {
    margin: 3%;
    text-align: left;
}
.back {
    float: left;
}
.header {
    background-color: bisque;
    color: rgb(167, 105, 224);
    width: 400px;
    text-align: center;
    margin: 2%;
}
.link {
    margin: 2%;
}