.title {
    width: 400px;
    background-color: bisque;
    color: rgb(167, 105, 224);
    font-weight: normal;
    text-align: center;
    font-family: "Apple Chancery", cursive;
}
.card {
    background-color: #ddbdf1;
    width: 400px;
    display: inline-block;
    text-align: center;
    margin: 2%;
}
.text {
    width: 400px;
    background-color: bisque;
    color: rgb(167, 105, 224);
    font-weight: normal;
    
}
.icon {
    float: left;
}