.card {
    background-color: #ddbdf1;
    width: 400px;
    text-align: center;
    margin: 2%;
}
.title {
    width: 400px;
    background-color: bisque;
    color: rgb(167, 105, 224);
    font-weight: normal;
    text-align: center;
}
.posts {
    background-color: bisque;
    color: rgb(167, 105, 224);
    text-align: left;
    width: 400px;
    list-style-type: none;
    margin-top: 3%;
    font-size: 120%;
    
}
.paginator {
    background-color: bisque;
    color: rgb(167, 105, 224);
}
.header {
    background-color: bisque;
    color: rgb(167, 105, 224);
    width: 400px;
    text-align: center;
    margin: 2%;
}
.link {
    margin: 2%;
}