<mat-card class="card">
  <mat-card-content>
    <div class="header">
      <span class="link" routerLink="/new-post">New Post</span>
      <span class="link" routerLink="/recent-posts">Most recent posts</span>
      <span class="link" routerLink="/all-posts">All posts</span>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-title class="title">Recent Posts</mat-card-title>
  <mat-card-content>

    <mat-form-field>
      <mat-label aria-placeholder="All">Status</mat-label>
      
      <mat-select>
        <mat-option [value]=" filteredPosts" (click)="filterPosts('all')" >
          All
        </mat-option>
        <mat-option  [value]=" filteredPosts" (click)="filterPosts('active')">
          Active
        </mat-option>
        <mat-option [value]=" filteredPosts" (click)="filterPosts('inactive')">
          Inactive
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="posts" *ngFor="let post of this.filteredPosts" routerLink="/post/{{post.id}}">
      <h2>{{ post.title }}</h2> <br>
      <div><img src="{{ post.imageURL }}"> </div>
      <span>Date: {{ post.date | date:'shortDate' }}</span>
      <p>
        <markdown [data]="post.text.substring(0,150)"></markdown></p>
    </div>
    <br>
  </mat-card-content>
</mat-card>